<!DOCTYPE html>
<html>

<head>

<title>AI Assistant</title>

<link rel="stylesheet" href="/static/style.css">

</head>

<body>


<body>

<div class="layout">

<div class="sidebar">
    <button class="new-chat-btn" onclick="newChat()">📝 New Chat</button>

<h3>Chat History</h3>

<div id="history"></div>

</div>


<div class="chat-area">

<h1>AI Assistant</h1>

<div id="chatbox"></div>

<div class="input-area">

<input id="message" placeholder="Ask anything...">

<button class="send-btn" onclick="sendMessage()">⬆</button>

<button class="mic-btn" onclick="startVoice()">🎤</button>

</div>

<button onclick="toggleMode()">Dark / Light</button>

</div>

</div>

<script src="/static/script.js"></script>

</body>

</body>
</html>